<!DOCTYPE html>
<html>
<head>
	<title>Stock Chart</title>
	<link rel="icon"  href="https://cdn2.iconfinder.com/data/icons/social-productivity-line-art-1/128/chart-512.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
  	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>




	<script type="text/javascript" src="/script/index.js"></script>
	<script type="text/javascript" src="/script/jquery.toast.js"></script>
	<link rel="stylesheet" type="text/css" href="/styles/jquery.toast.css">
	<link rel="stylesheet" type="text/css" href="/styles/index.css">



	<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
</head>
<body>
	

<img src="https://media1.tenor.com/images/8ac12962c05648c55ca85771f4a69b2d/tenor.gif" id="load">
	<div id="container" style="height: 400px; min-width: 310px"></div>
	<ul>
		
		
	</ul>
	<div class="stocks">

	</div>
	<input type="text" id="search"  onkeydown="search(this)" placeholder="Add New Stock" >
	

</body>
</html>